.git/
.Rhistory
.snakemake
HLA/
IMGT2Seq
METAL/
METAL_dr
Seer/
ZWK/
bMarkerGenerator
bgen/
compare/
crux/
doc/
docs/
eQTLCatalog/
logs/
peptide/
pgwas/
pgwas_dr/
output/
reports/
site/
work/
config/
data/
results/
scale/
tests/
ToDo.md
