pilot/.Rhistory
pilot/.ipynb_checkpoints/
pilot/11-3.id
pilot/2019.id
pilot/2020.id
pilot/2020.left
pilot/2020.rda
pilot/2021.log
pilot/2021.docx
pilot/2021.md
pilot/2021.rda
pilot/Caprionpilotmass-specproteomicsdata.txt
pilot/Caprion pilot mass-spec proteomics data.txt
pilot/Caprion_pilot_protein_list.xlsx
pilot/EPCR-PROC.Rmd
pilot/EPCR-PROC.docx
pilot/EPCR-PROC.md
pilot/EPCR-PROC/
pilot/ERAP2/
pilot/INTERVAL_OmicsMap_20210217.csv
pilot/INTERVAL_OmicsMap_20210915.csv
pilot/INTERVAL_box.tsv
pilot/INTERVALdata_15SEP2021.csv
pilot/INTERVALdata_17FEB2021.csv
pilot/Olinkvalidationdataallpanels.xlsx
pilot/RCN3-FCGRT-genomewide/
pilot/RCN3-FCGRT/
pilot/SOMALOGIC_Master_Table_160410_1129info.tsv
pilot/SomaLogic.box
pilot/SomaLogic.gene
pilot/SomaLogic.info
pilot/SomaLogic.nosex
pilot/SomaLogic.rsid
pilot/SomaLogic.sample
pilot/SomaLogic.snpid
pilot/SomaLogic.snpid-rsid
pilot/SomaLogic.tsv
pilot/SomaLogic.txt
pilot/SomaLogic.uniprot
pilot/SomaLogic/
pilot/UDP.rda
pilot/UDP_EDR_20210423.xlsx
pilot/UDP_EDR_20210423_samples.xlsx
pilot/ZWK.rda
pilot/ZWK_EDR_20191002.xlsx
pilot/ZYQ.rda
pilot/ZYQ_EDR_28AUG2020_Updated.xlsx
pilot/ZYQ_PC1_groups_20200703.csv
pilot/ae.pdf
pilot/ae.rda
pilot/affymetrix.id
pilot/affymetrix.id2
pilot/affymetrix.results
pilot/affymetrix.snps
pilot/affymetrix.tsv
pilot/affymetrix_invn.tsv
pilot/bar.pdf
pilot/bgen/
pilot/bgen2/
pilot/bgen3/
pilot/bgi
pilot/bolt.in_plink_but_not_imputed.FID_IID.42863.txt
pilot/box.pdf
pilot/caprion-group1-20ld.tsv
pilot/caprion-group1-invn.sentinels
pilot/caprion-group1-invn.sentinels.prot
pilot/caprion-group1.merge
pilot/caprion-group1.merge.prot
pilot/caprion-group2-20ld.tsv
pilot/caprion-group2-invn.sentinels
pilot/caprion-group2-invn.sentinels.prot
pilot/caprion-group2.merge
pilot/caprion-group2.merge.prot
pilot/caprion-swath-ms.overlap
pilot/caprion.rda
pilot/caprion.uniprot
pilot/caprion_cvd2.csv
pilot/caprion_cvd3.csv
pilot/caprion_inf1.chk
pilot/caprion_inf1.csv
pilot/caprion_neurology.csv
pilot/caprion_somalogic.csv
pilot/clustering-2020-0.png
pilot/clustering-2020-1.png
pilot/clustering-2020.pdf
pilot/csv.R
pilot/data/
pilot/data2/
pilot/data3/
pilot/figure/
pilot/general_umap_script.py
pilot/general_umap_script.sh
pilot/glist-hg19
pilot/gwas.log
pilot/gwas2.log
pilot/gwas2_invn.log
pilot/hgTables.gz
pilot/inf1.tmp
pilot/interval.samples
pilot/interval_caprion_pilot_samples_phenotype_data.tsv
pilot/knownlist.txt
pilot/lm.tsv
pilot/ln.sh
pilot/log_umap_pca_UMAP_PC15_NC3_NN10_MD0.001_euclidean_20191106_112640.txt
pilot/mc.pdf
pilot/mclust.pdf
pilot/miamiplot/
pilot/o5000-inf1-outlier_in-r2.sample
pilot/olink.inf.panel.annot.tsv
pilot/Olink validation data all panels.xlsx
pilot/overlap.docx
pilot/packages.bib
pilot/pca-2020.pdf
pilot/pca.pdf
pilot/pca.txt
pilot/pca_UMAP_PC15_NC3_NN10_MD0.001_euclidean_20191106_112640.txt
pilot/pilotsMap_15SEP2021.csv
pilot/pilotsMap_17FEB2021.csv
pilot/ppr.Rmd
pilot/ppr.bib
pilot/ppr.docx
pilot/ppr.md
pilot/protein_peptide_ZWK-ZYQ-UDP.png
pilot/qq.pdf
pilot/qqman.list
pilot/rle.pdf
pilot/rs113886122.sh
pilot/rs867186-group1.txt
pilot/rs867186-group2.txt
pilot/rsid/
pilot/scatter-histogram-boxwhisker.pdf
pilot/sex.tsv
pilot/site/
pilot/tromso/
pilot/turboqq.r
pilot/umap.pdf
