.git/
.Rhistory
.snakemake
deCODE/
HLA/
IMGT2Seq
METAL/
METAL_dr
Seer/
UDP/
UHZ/
ZWK/
ZYQ/
bMarkerGenerator
bgen/
compare/
crux/
doc/
eQTLCatalog/
impute/
json/
logs/
peptide/
pgwas/
pgwas_dr/
output/
reports/
seer/
site/
srcf/
work/
config/
data/
results/
scale/
tests/
ToDo.md
UKB_PPP/
